<nav class="navbar navbar-expand-lg bg-a8dadc w-100">
    <div class="container-fluid">
        <button class="navbar-toggler c-1d3557" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="homepage.html">
            <img class="logo" src="/images/logo.png">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Medications
                    </a>
                    <ul class="dropdown-menu bg-e63946">
                        <li><a class="dropdown-item" href="/pages/create-entry.html">Create Entries</a></li>
                        <li><a class="dropdown-item" href="/pages/viewentries.html">View Entries</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/pages/medication-pals.html">MedicationPals</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Records
                    </a>
                    <ul class="dropdown-menu bg-e63946">
                        <li><a class="dropdown-item" href="/pages/schedule.html">Schedule</a></li>
                        <li><a class="dropdown-item" href="/pages/progress.html">Progress</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/pages/notifications.html">Notifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/pages/doc-info.html">Doctor Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/pages/faq.html">FAQs</a>
                </li>
            </ul>
        </div>
        <div>
            <button type="button" class="btn btn-primary m-1 bg-457b9d c-f1faee remove-border login-btn rounded-3"><a
                    href="../index.html" class="c-f1faee">Log out</a></button>
        </div>
    </div>
</nav>