<nav class="navbar navbar-expand-lg bg-a8dadc">
    <div class="container-fluid">
        <button class="navbar-toggler c-1d3557" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="../">
            <img class="logo" src="../images/transparent-logo.png">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" href="/pages/contact-us.html">Contact Us</a></li>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Help
                    </a>
                    <ul class="dropdown-menu bg-e63946">
                        <li><a class="dropdown-item" href="/pages/faq.html">FAQs</a></li>
                        <li><a class="dropdown-item" href="/pages/feedback.html">Feedback</a></li>
                    </ul>
                </li>
                <li>
                    <!-- Remove later b/c double login button-->
                    <button type="button" class="btn btn-primary m-1 bg-457b9d"><a href="./pages/login.html"
                            class="c-f1faee">Login</a></button>
                </li>
            </ul>
        </div>
        <div>
            <a href="../index.html"><i class="bi bi-house-heart m-1 c-1d3557"></i></a>
        </div>
    </div>
</nav>