<nav class="navbar navbar-expand-lg bg-a8dadc">
    <div class="container-fluid">
        <button class="navbar-toggler c-1d3557" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="../">
            <img class="logo" src="../images/transparent-logo.png">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Medications
                    </a>
                    <ul class="dropdown-menu bg-e63946">
                        <li><a class="dropdown-item" href="#">Create Entries</a></li>
                        <li><a class="dropdown-item" href="viewentries.html">View Entries</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">MedicationPals</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Records
                    </a>
                    <ul class="dropdown-menu bg-e63946">
                        <li><a class="dropdown-item" href="#">Schedule</a></li>
                        <li><a class="dropdown-item" href="#">Progress</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Contact
                    </a>
                    <ul class="dropdown-menu bg-e63946">
                        <li><a class="dropdown-item" href="#">Your Doctor's Information</a></li>
                        <li><a class="dropdown-item" href="../pages/contact-us.html">Contact Us</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Help
                    </a>
                    <ul class="dropdown-menu bg-e63946">
                        <li><a class="dropdown-item" href="#">FAQs</a></li>
                        <li><a class="dropdown-item" href="#">Feedback</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Notifications</a>
                </li>
            </ul>
            <!-- Search in nav removed, don't know if needed: -->
            <!-- <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
        </div>
        <div>
            <a href="./"><i class="bi bi-house-heart m-1 c-1d3557"></i></a>
            <a href="#"><i class="bi bi-calendar m-1 c-1d3557"></i></a>
        </div>
    </div>
</nav>