p {
    margin: 0;
}

#medImg-1, #medImg-2 {
    display: none;
}

.file-btn {
    background-color: #457B9D;
    color: #f1faee;
    padding: 8px;
    border-radius: 10px;
}

.file-btn:active {
    background-color: #1d3557;
}

.bi-camera {
    font-size: xx-large;
}

.bi-check {
    margin: 0;
    font-size: x-large;
    font-weight: bolder;
}

#add1:active, #remove1:active {
    background-color: #1d3557;
}

#add1:focus, #remove1:focus {
    background-color: #1d3557;
}

#image-conf-msg {
    color: rgb(25, 135, 84);
    font-weight: bold;
}

#entry-conf a {
    text-decoration: none;
    color: #f1faee;
}