


#container{
    display: grid;
    grid-template-rows: 30vh 30vh 40vh;
    grid-template-areas: 
    "top"
    "middle"
    "bottom";
    vertical-align: middle;
    padding-left: 40%;
    
}

.top{
    grid-area: top;
    width: 300px;
    box-shadow: 10px;
    box-shadow: 10px;
   
}

.middle{
    grid-area: middle;
    box-shadow: 10px;
    width: 300px;
}

.bottom{
    grid-area: bottom;
    box-shadow: 10px;
    width: 300px;
}
.alert{
    width: 100%;
    background: green;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
}