#medImg-1, #medImg-2 {
    display: none;
}

.file-btn {
    background-color: #457B9D;
    color: #f1faee;
    padding: 8px;
    border-radius: 10px;
}

.file-btn:active {
    background-color: #1d3557;
}

.bi-camera {
    font-size: xx-large;
}