.file-btn {
    border-color: #1d3557;
}

.file-btn:hover, .save-btn:hover {
    background-color: #1d3557;
    border: none;
}

.bi-camera {
    font-size: xx-large;
}

/* .day-btn:hover {
    background-color: #457b9d;
    color: #f1faee;
} */
/* 
.day-btn:visited {
    background-color: #1d3557;
}

.day-btn:focus {
    background-color: #1d3557;
}

.day-btn:active {
    background-color: #1d3557;
} */