.homepage {
    position: relative;
}

p {
    margin: 0;
}

td, th {
    background-color: #f1faee !important;
}

#create-btn {
    position: fixed;

    top: 85%;
    right: 2%;
}

.entry-card p {
    font-weight: bold;
}

.doc-info {
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.progress-card {
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.med-pal-progessbar {
    width: 75%;
    margin: 0 auto;
}

.accordion-button, .accordion-item {
    border-radius: 10px !important;
    border: none;
}

.material-symbols-outlined {
    font-size: 2em;
}


