.homepage {
    position: relative;
}

p {
    margin: 0;
}

td, th {
    background-color: #f1faee !important;
}

#create-btn {
    position: fixed;

    top: 85%;
    right: 2%;
}

.entry-card {
    /* background-color: #a8dadc; */
}

.entry-card p {
    font-weight: bold;
}

.doc-card {

}

.progress-card {
    
}

.med-pal-progessbar {
    width: 75%;
    margin: 0 auto;
}

.accordion-button, .accordion-item {
    border-radius: 10px !important;
    border: none;
}

.material-symbols-outlined {
    font-size: 3em;
}

.entry-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 100%;
    height: 100%;
    text-align: left;
}


