#container{
    display: grid;
    grid-template-rows: 20vh 25vh 25vh 30vh;
    grid-template-areas:
    "top"
    "middle1"
    "middle2"
    "bottom";
    vertical-align: "middle";
    padding-left: 30%;
    padding-right: 30%;
    grid-gap:20px;
    text-align: left;


}

.top{
    grid-area: "top";
    background-color: rgb(179, 179, 180, 0.5);
}

.middle1{
    grid-area: "middle1";
    background-color: rgb(179, 179, 180, 0.5);
}

.middle2{
    grid-area: "middle2";
    background-color: rgb(179, 179, 180, 0.5);

}

.bottom{
    grid-area: "bottom";
    padding-top: 80px;
    text-align: center;
    background-color: rgb(179, 179, 180, 0.5);
}
