body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f1faee;
}

a {
    text-decoration: none;
}

.hot-bar-m {
    margin-bottom: 90px;
}

.login-panel a {
    text-decoration: none;
}

/* Color Palette */

/* Background: */
.bg-e63946 {
    background-color: #e63946;
}

.bg-f1faee {
    background-color: #f1faee;
}

.bg-a8dadc {
    background-color: #a8dadc;
}

.bg-457b9d {
    background-color: #457B9D;
}

.bg-1d3557 {
    background-color: #1d3557;
}

/* Color: */
.c-e63946 {
    color: #e63946;
}

.c-f1faee {
    color: #f1faee;
}

.c-a8dadc {
    color: #a8dadc;
}

.c-457b9d {
    color: #457B9D;
}

.c-1d3557 {
    color: #1d3557;
}

#cat-image {
    display: block;
    text-align: center;
    
}

#footer-placeholder {
    position: sticky;
    top: 100%;
}

#hot-bar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
}

.logo {
    height: 40px;
}

.nav-item {
    font-size: large;
    font-weight: bold;
    margin-left: 2%;
    margin-right: 2%;
}

.navbar-toggler {
    border: none;
}

.bi-house-heart, .bi-calendar {
    font-size: xx-large;
    text-decoration: none;
}

.dropdown-toggle {
    color: black !important;
}

.dropdown-menu {
    color: black;
    font-size: large;
}

.dropdown-item {
    font-weight: bolder;
}

.login-panel {
    text-align: center;
}

.table th {
    background-color: #a8dadc; /* Header background color */
}
.table td {
    background-color: #a8dadc; /* Body background color */
}
.table-active {
    background-color: #f1faee; /* Active row background color */
}

.col {
    align-items: center;
}

.form-group{
text-align: center;
}

.land-img {
    width: 80vw;
}

.remove-border {
    border: none;
}

.login-btn:hover {
    background-color: #1d3557;
    border: none;
}
