.table th {
    background-color: #a8dadc; /* Header background color */
}
.table td {
    background-color: #a8dadc; /* Body background color */
}
.table-active {
    background-color: #f1faee; /* Active row background color */
}

.medicationRow:hover,
.medicationRow:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.6;
}

